:root {
    --color-logo: #2196f3;
    --primary-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --font-color-primary: #757575;
    --hero-background: #2f303a;
    --azur-background: #f5f4fa;
    --logo-black: #000000;
    --footer-color: #ffffff 60%;
    --font-color-font: #afb1b8;
  }